* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inner-header {
    position: absolute;
    width: 1920px;
    height: 160px;
    background-color: #133D8D;
}

.frame {
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: absolute;
    left: 16.25%;
    right: 16.2%;
}

.frame-up {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0px;
    width: 1294px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

#image-ma {
    width: 96.7px;
    height: 30px;
    color: #FFFFFF;
}

.contact {
    width: 123px;
    height: 20px;
    font-family: 'HelveticaNeueCyr';
    font-style: normal;
    font-weight: 550;
    font-size: 14px;
    line-height: 140%;
    color: #FFFFFF;
}

#search {
    left: 12.5%;
    right: 14.62%;
    top: 12.5%;
    bottom: 14.62%;
    color: #FFFFFF;
}

.frame-down {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    width: 1297px;
    height: 20px;
}

.frame-down>p {
    height: 20px;
    font-family: 'HelveticaNeueCyr';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.information {
    position: absolute;
    left: 312px;
    top: 250px;
    font-family: 'HelveticaNeueCyr';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 140%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #333333;
}

.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    height: 18px;
    padding-top: 387px;
    padding-left: 312px;
}

.map {
    position: absolute;
    width: 1296px;
    height: 560px;
    left: 312px;
    top: 460px;
}

.maps-info {
    display: flex;
    align-items: flex-start;
    padding: 35px 40px;
    gap: 35px;
    position: absolute;
    width: 274px;
    height: 256px;
    left: 50px;
    top: 45px;
    background: #FFFFFF;
}

.city {
    display: flex;
    justify-content: center;
    padding: 10px 15px 9px;
    gap: 10px;
    width: 78px;
    height: 37px;
}

.moscow {
    background: #133D8D;
}

.petersburg {
    background: rgba(19, 61, 141, 0.5);
}

.city>p {
    height: 18px;
    font-family: 'HelveticaNeueCyr';
    font-style: normal;
    font-weight: 550;
    font-size: 13px;
    line-height: 140%;
    color: #FFFFFF;
}

.contact-information {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 17px;
    width: 194px;
    height: 114px;

}

.contact-frame {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 15px;
    width: 194px;
    height: 18px;
    margin-top: 68px;
}

.contact-frame>p {
    position: relative;
    margin-top: 15px;
    width: 240px;
    height: 40px;
    font-family: 'HelveticaNeueCyr';
    font-style: normal;
    font-weight: 550;
    font-size: 14px;
    line-height: 140%;
    color: #333333;
}

.phone {
    margin-top: 20px;
}

.email {
    margin-top: 10px;
}

.footer-container {
    display: flex;
    position: absolute;
    width: 1920px;
    height: 442px;
    left: 0px;
    top: 150px;
    background: #133D8D;
    margin-top: 1028px;
}



#ma-footer {
    margin: 60px 911px 352px 912px;
}


h3 {
    text-transform: uppercase;
}

.footer-about-company {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    width: 306px;
    height: 172px;
    left: 330px;
    top: 159px;
    color: #FFFFFF;
}

.footer-navy {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    position: absolute;
    width: 306px;
    height: 207px;
    left: 675px;
    top: 154px;
    color: #FFFFFF;
}

.footer-investors {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    height: 242px;
    right: 680px;
    top: 153px;
    color: #FFFFFF;
}

.footer-text {
    width: 222px;
    height: 20px;
    font-family: 'HelveticaNeueCyr';
    font-style: normal;
    font-weight: 550;
    font-size: 14px;
    line-height: 140%;
    color: #FFFFFF;
}

.footer-contact {
    display: flex;
    flex-direction: column;
    text-align: right;
    gap: 40px;
    position: absolute;
    height: 242px;
    right: 340px;
    top: 153px;

}